<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to ScotBet, <%= @user.username %>
      <p>
        You have successfully signed_up.
        Your username is <%= @user.username %>.
      </p>
    </br>
      <p>
        To login, just click link <%= @url %>
      </p>
      <p>
        Thanks for joining, best of luck!!!
      </p>

  </body>
</html>
